* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 5%;
  height: 100vh;
  position: fixed;
}

.login-box {
  width: 400px;
  height: fit-content;
}
img {
  width: 30px;
}

.login-failed {
  font-size: 14px;
}


